__pycache__
cache_data*
cache*
evaluation_data.csv
evaluation_images
/data/Radar/l2data
/data/Radar/temp
/data/Radar/temp2
/data/Radar/s3cache
/runs
/runs*
saved_model*
test_animation.mp4
test.html